[user]
email = vanderson@tutamail.com
name = Vanderson Rodrigues

[merge]
conflictStyle = diff3

[magit]
hideCampaign = true

[alias]
tree = log --graph --decorate --pretty=oneline --abbrev-commit --all

[core]
editor = vim

[init]
defaultBranch = main

[pull]
rebase = true

[rerere]
enabled = 1

[diff]
colorMoved = zebra
