[user]
email = vanderson@tutamail.com
name = Vanderson Rodrigues

[merge]
conflictStyle = diff3

[magit]
hideCampaign = true

[alias]
tree = log --graph --decorate --pretty=oneline --abbrev-commit --all

[core]
editor = vim

[init]
defaultBranch = main

[color]
branch = auto
diff = auto
status = auto
showbranch = auto
ui = true

[color "branch"]
current = "#FFFF77"
local = "#FFFFFF"
remote = "#77FF77"

[color "diff"]
meta = "#77FFFF"
frag = "#FFFF77"
old = "#FF7777"
new = "#77FF77"
func = "#7777FF"

[color "status"]
added = "#77FF77"
changed = "#FFFF77"
untracked = "#FF7777"
