[submodule "submodules/vim-polyglot"]
    path = submodules/vim-polyglot
    url = https://github.com/sheerun/vim-polyglot

[submodule "submodules/ligature.el"]
    path = submodules/ligature.el
    url = https://github.com/mickeynp/ligature.el

[submodule "submodules/zenburn-emacs"]
    path = submodules/zenburn-emacs
    url = https://github.com/bbatsov/zenburn-emacs

[submodule "submodules/Zenburn"]
    path = submodules/Zenburn
    url = https://github.com/jnurmine/Zenburn

[submodule "submodules/vim-sourcetrail"]
    path = submodules/vim-sourcetrail
    url = https://github.com/CoatiSoftware/vim-sourcetrail

[submodule "submodules/vader.vim"]
    path = submodules/vader.vim
    url = https://github.com/junegunn/vader.vim 

[submodule "submodules/vim-hardtime"]
    path = submodules/vim-hardtime
    url = https://github.com/takac/vim-hardtime
