/vim/.vim/plugged/*
/vim/.vim/*swp
/vim/.vim/spell/*.spl
README.md
LICENSE
/vim/.vim/.netrwbook
/vim/.vim/.netrwhist
/emacs/.emacs~
/emacs/.emacs.d/auto-save-list
/emacs/.emacs.d/elpa
/emacs/.emacs.d/ergoemacs-extras
/emacs/.emacs.d/recentf
/emacs/.emacs.d/recentf~
/emacs/.emacs.d/smex-itens
/emacs/.emacs.d/transient
/emacs/#.emacs#
/emacs/.#.emacs
*.~undo-tree~
/tmux/.tmux/resurrect
