! Apply changes in this file with `xrdb ~/.Xresources`
#include ".Xresources.d/xft.xresources"
#include ".Xresources.d/xterm.xresources"
#include ".Xresources.d/urxvt.xresources"
#include ".Xresources.d/zutty.xresources"
