# Leader keys
set $super Mod4
set $alt Mod1

# Dmenu options
set $dmenu_op -fn 'terminus-font:normal:pixelsize=10' -b -p 'search:'
set $dmenu_co -nb '#000000' -sf '#bbbbbb' -sb '#000000' -nf '#333333'

# Rofi options
set $rofi_op -theme "default" -show-icons -icon-theme "Moka" -font "hack 10"
set $rofi_drun -modi drun -show drun
set $rofi_combi -modi combi -show combi -combi-modi window#drun
set $rofi_filebrowser -modi filebrowser -show filebrowser

# Screen resolution
set $resolution 1920px 1080px

# Default position and size for floating windows
set $default_position 10px 10px
set $full 1920px 1080px
set $wide 1900px 1050px
set $tight 800px 1050px
set $small 800px 600px

# To use in i3lock and feh
set $wallpaper ~/Pictures/wallpaper_$resolution.png

# TODO: get this colors directly from .Xresources
# using this 'set_from_resource $white color7'
# Colors X
set $black     #000000
set $black_b   #333333
set $red       #bb0000
set $red_b     #ff3333
set $green     #00bb00
set $green_b   #33ff33
set $yellow    #bbbb00
set $blue      #0000bb
set $yellow_b  #ffff33
set $blue_b    #3333ff
set $magenta   #bb00bb
set $magenta_b #ff33ff
set $cyan      #00bbbb
set $cyan_b    #33ffff
set $white     #bbbbbb
set $white_b   #ffffff

# Colors i3
set $gray    #484E50
set $gray_1  #888888
set $gray_2  #292D2E
set $gray_3  #5F676A
set $gray_4  #2f343a
set $blue_1  #4c7899
set $blue_2  #2E9EF4
set $blue_3  #285577
set $red_1   #900000
set $black_1 #222222

# Font for window titles
# NOTE: hack to remove titles completely
font pango:Terminus Regular 0

# Windows and workspaces colors
client.background       $white_b
#class                  border   bground  text     indicator  child_border
client.focused          $blue_1  $blue_3  $white   $blue_2    $blue_3
client.focused_inactive $gray_1  $gray_3  $white   $gray      $gray_3
client.unfocused        $black_b $black_1 $gray_1  $gray_2    $black_1
client.urgent           $gray_4  $red_1   $white_b $red_1     $red_1
client.placeholder      $black   $black_1 $white   $black     $black_1

# Remove focus on mouse move
focus_follows_mouse no

# Borders settings
hide_edge_borders smart_no_gaps
default_border normal 1
default_floating_border normal 1

# Gaps settings
gaps inner 0
gaps outer 0
smart_gaps on

# Use Mouse+$super to drag floating windows to their wanted position
floating_modifier $super

# Max and min floating windows sizes
floating_maximum_size 1920 x 1080
floating_minimum_size 50 x 50

# Window titles
#for_window [class=".*"] title_format "%class"
#for_window [all] title_window_icon on
#for_window [all] title_window_icon padding 3px

# Start a terminal
#bindsym $super+Return exec i3-sensible-terminal
bindsym $super+Return exec xterm

# kill focused window
bindsym $super+Shift+q kill

# Start i3-dmenu-desktop which only displays applications with a .desktop file
bindsym $super+d exec --no-startup-id i3-dmenu-desktop --dmenu="dmenu $dmenu_op $dmenu_co"

# Start j4-dmenu-desktop more performatic version of i3-dmenu-desktop
bindsym $alt+d exec --no-startup-id j4-dmenu-desktop --dmenu="dmenu $dmenu_op $dmenu_co"

# Start dmenu (a program launcher)
bindsym $super+Shift+d exec --no-startup-id dmenu_run $dmenu_op $dmenu_co

# Start dmenu + fzf
#bindsym $super+d exec --no-startup-id termite -t 'fzf' -e 'i3-dmenu-desktop --dmenu=fzf'
#for_window [title="fzf"] floating enable

# Start rofi (a program laucher) in drun modi
bindsym $super+Control+r exec --no-startup-id rofi $rofi_op $rofi_drun

# Start rofi (a program laucher) in combined drun and window modis
bindsym $super+Control+c exec --no-startup-id rofi $rofi_op $rofi_combi

# Start rofi (a program laucher) in filebrowser modi
bindsym $super+Control+f exec --no-startup-id rofi $rofi_op $rofi_filebrowser

# Change focus
bindsym $super+h focus left
bindsym $super+j focus down
bindsym $super+k focus up
bindsym $super+l focus right

# This pass through the windows
bindsym $alt+Tab focus right
bindsym $alt+Shift+Tab focus left

# This pass through the workspaces
bindsym $super+Tab workspace next
bindsym $super+Shift+Tab workspace prev

# Move focused window
bindsym $super+Shift+h move left 20 px
bindsym $super+Shift+j move down 20 px
bindsym $super+Shift+k move up 20 px
bindsym $super+Shift+l move right 20 px

# Resizing window by 20
bindsym $super+Ctrl+Left resize shrink width 20 px or 20 ppt
bindsym $super+Ctrl+Down resize grow height 20 px or 20 ppt
bindsym $super+Ctrl+Up resize shrink height 20 px or 20 ppt
bindsym $super+Ctrl+Right resize grow width 20 px or 20 ppt

# Resizing window by 1
bindsym $super+Ctrl+Shift+Left resize shrink width 1 px or 1 ppt
bindsym $super+Ctrl+Shift+Down resize grow height 1 px or 1 ppt
bindsym $super+Ctrl+Shift+Up resize shrink height 1 px or 1 ppt
bindsym $super+Ctrl+Shift+Right resize grow width 1 px or 1 ppt

# Split in horizontal orientation
bindsym $super+Control+h split h

# Split in vertical orientation
bindsym $super+Control+v split v

# Enter fullscreen mode for the focused container
bindsym $super+f fullscreen toggle

# Change container layout (stacked, tabbed, toggle split)
bindsym $super+s layout stacking
bindsym $super+w layout tabbed
bindsym $super+e layout toggle split

# Toggle tiling / floating
bindsym $super+Shift+space floating toggle move position $default_position resize set $full

# Change focus between tiling / floating windows
bindsym $super+space focus mode_toggle

# Focus the parent container
bindsym $super+a focus parent

# Focus the child container
bindsym $super+Shift+a focus child

# Define names for default workspaces
set $ws1 "1"
set $ws2 "2"
set $ws3 "3"
set $ws4 "4"
set $ws5 "5"
set $ws6 "6"
set $ws7 "7"
set $ws8 "8"
set $ws9 "9"

# Switch to workspace
bindsym $super+1 workspace $ws1
bindsym $super+2 workspace $ws2
bindsym $super+3 workspace $ws3
bindsym $super+4 workspace $ws4
bindsym $super+5 workspace $ws5
bindsym $super+6 workspace $ws6
bindsym $super+7 workspace $ws7
bindsym $super+8 workspace $ws8
bindsym $super+9 workspace $ws9

# Move focused container to workspace
bindsym $super+Shift+1 move container to workspace $ws1
bindsym $super+Shift+2 move container to workspace $ws2
bindsym $super+Shift+3 move container to workspace $ws3
bindsym $super+Shift+4 move container to workspace $ws4
bindsym $super+Shift+5 move container to workspace $ws5
bindsym $super+Shift+6 move container to workspace $ws6
bindsym $super+Shift+7 move container to workspace $ws7
bindsym $super+Shift+8 move container to workspace $ws8
bindsym $super+Shift+9 move container to workspace $ws9

# Reload the configuration file
bindsym $super+Shift+c reload

# Restart i3 inplace (preserves your layout/session, can be used to upgrade i3)
bindsym $super+Shift+r restart

# Pulse Audio controls
bindsym XF86AudioRaiseVolume exec --no-startup-id pactl -- set-sink-volume 0 +5%
bindsym XF86AudioLowerVolume exec --no-startup-id pactl -- set-sink-volume 0 -5%
bindsym XF86AudioMute exec --no-startup-id pactl set-sink-mute 0 toggle

# Screen brightness controls
bindsym XF86MonBrightnessUp exec --no-startup-id brightnessctl set +5%
bindsym XF86MonBrightnessDown exec --no-startup-id brightnessctl set 5%-

# Redshift modes
set $mode_redshift Set colour temperature: [a]uto, [r]eset, [2]500K, [3]000K, [4]000K, [5]000K
set $kill_redshift pkill -9 redshift;
mode "$mode_redshift" {
    bindsym a exec --no-startup-id "$kill_redshift redshift -P -t 5000:4000", mode "default"
    bindsym r exec --no-startup-id "$kill_redshift redshift -x", mode "default"
    bindsym 2 exec --no-startup-id "$kill_redshift redshift -P -O 2500", mode "default"
    bindsym 3 exec --no-startup-id "$kill_redshift redshift -P -O 3000", mode "default"
    bindsym 4 exec --no-startup-id "$kill_redshift redshift -P -O 4000", mode "default"
    bindsym 5 exec --no-startup-id "$kill_redshift redshift -P -O 5000", mode "default"

    bindsym Return mode "default"
    bindsym Escape mode "default"
}
bindsym $super+comma mode "$mode_redshift"

# Window sizes modes
set $mode_window_size Set window size: [f]ull, [w]ide, [t]ight, [s]mall
set $move_window i3-msg floating enable move position
set $resize_window resize set
mode "$mode_window_size" {
    bindsym f exec --no-startup-id "$move_window $default_position $resize_window $full", mode "default"
    bindsym w exec --no-startup-id "$move_window $default_position $resize_window $wide", mode "default"
    bindsym t exec --no-startup-id "$move_window $default_position $resize_window $tight", mode "default"
    bindsym s exec --no-startup-id "$move_window $default_position $resize_window $small", mode "default"

    bindsym Return mode "default"
    bindsym Escape mode "default"
}
bindsym $super+m mode "$mode_window_size"

# Gaps size modes
set $mode_gaps_size Set gap size: [d]efault, [2]px, [5]px
mode "$mode_gaps_size" {
    bindsym d exec --no-startup-id "i3-msg gaps inner current set 0", mode "default"
    bindsym 2 exec --no-startup-id "i3-msg gaps inner current set 2", mode "default"
    bindsym 5 exec --no-startup-id "i3-msg gaps inner current set 5", mode "default"

    bindsym Return mode "default"
    bindsym Escape mode "default"
}
bindsym $super+g mode "$mode_gaps_size"

# Exit i3 modes
set $mode_exit_i3 Exit: [l]ogout, [r]eboot, [s]hutdown, loc[k]
mode "$mode_exit_i3" {
    bindsym l exec i3-msg exit
    bindsym r exec systemctl reboot
    bindsym s exec systemctl poweroff
    bindsym k exec --no-startup-id i3lock -i $wallpaper , mode "default"

    bindsym Escape mode "default"
    bindsym Return mode "default"
}
bindsym $super+x mode "$mode_exit_i3"

# X basic configuration
exec xset r rate 200 50
exec xset b off

# Locks the screen when it goes to sleep
exec --no-startup-id xautolock -time 5 -locker "i3lock -i $wallpaper"

# Add shadows and transparence effects
#exec --no-startup-id compiz --replace
exec_always --no-startup-id picom --config ~/.config/picom/picom.conf --experimental-backends -CGb

# Display Wallpaper
exec_always --no-startup-id feh --bg-fill $wallpaper

# Start i3bar to display a workspace bar
bar {
    font pango:Terminus Regular 8
    #font -xos4-terminus-medium-r-normal--12-120-72-72-c-60-iso10646-1
    #font -xos4-terminus-medium-r-normal--14-140-72-72-c-80-iso10646-1
    status_command python3 ~/.config/i3/status.py
    #status_command i3status

    separator_symbol "  "

    # NOTE: hack to fit with non-patched dmenu
    padding -1px 0 -4px 1px

    #workspace_min_width 40

    tray_padding 0

    colors {
        background $black
        statusline $white
        separator  $white
        #class             border   bground  text
        inactive_workspace $black_b $black_1 $gray_1
        binding_mode       $black   $black   $white
        active_workspace   $black_b $gray_3  $white
        focused_workspace  $blue_1  $blue_3  $white
        urgent_workspace   $gray_4  $red_1   $white_b
    }
}

